@import '../../assets/index.scss';

.about {  
  p {
    color: $dark-slate;

    span {
      color: $aquamarine;
    }
  }
}

.intro {
  width: 100%;

  h1 {
    color: $bone-white;
  }

  h2 {
    color: $slate;
  }

  h6 {
    color: $aquamarine;
  }
}